
/13-Introducción a R
.DS_Store
/14-Documentación en metadatos
/26- Algoritmo SMARTEDA
/20 - Gráficas básicas en R
/21 - Generación de reportes Rmarkdown
/Material de trabajo_nayarit 
*.docx
/Material de trabajo_nayarit 
*.docx
*.docx
